*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;

}
.nav-toggle-btn:focus{
outline: unset;
box-shadow: none;
border: unset;
}

.section1-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("bg-1.jpg") no-repeat ;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width:764px){
    .buttons-container{
        position: static;
        justify-content: center;
    }
}

@media (max-width: 766px) {
    .row.nav-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
     
       }
    @media (max-width: 577px) {
    .row.nav-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    
    }
     
       }
    @media (max-width: 754px) {
  .section1-container{
  height: 60vh;
    
    }
     
       }